In [1]:
#dfefining a set

a={1,2,3,4,5} #defining a set of numbers

print(a) #printing the set

{1, 2, 3, 4, 5}

In [2]:
b={1,1,1,1,1,1,2,2,2,2,3,3,3}
print(b)

{1, 2, 3}

In [3]:
c={5,6,7,8}

print(c[0]) #tr ying to access the first element of the set - this will raise an error because sets are unordered and do not support indexing

TypeError: 'set' object is not subscriptable

In [5]:
d={1,2,3,4}

d.add(5) #adding an element to the set
d.add(6)
print(d)

d.remove(1) #removing an element from the set
print(d)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [ ]:
#set functions

a={1,2,3,4,5} #defining a set of numbers
b={3,4,5,6,7} #defining another set of numbers


print(a.union(b)) #union of two sets - combines all unique elements from both sets

print(a.intersection(b)) #intersection of two sets - returns only the elements that are present in both sets

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [8]:
for item in a:
    print(item) #iterating through the set and printing each element

1
2
3
4
5